body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.calculator {
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding: 0 10px;
    font-size: 36px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    background-color: #252525;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

button {
    height: 60px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
}

button.operator {
    background-color: #ff9500;
    color: white;
}

button.equal-sign {
    grid-column: span 2;
    background-color: #ff9500;
    color: white;
}

button.all-clear {
    background-color: #ff3b30;
    color: white;
}
